{
    "testing_root" : "/home/work",
    "results_root" : "/home/work/mobile/test-results",
    "raw_results_root" : "/home/work/mobile/raw-results",
    "ssh_key" : "ssh-rsa .................................................................................................................................................................................................................................................................................................................................................................................... brad@brad-desktop",
    "wifi" : {
        "ssid" : "warthogs",
	"wpa2psk"  : "crancod39"
    }
}
